<?xml version="1.0" ?>
<robot name="partnet_20c5dff3b09282035b76194468418a0e">
	<link name="base"/>
	<link name="link_0">
        <contact>
          <lateral_friction value="1"/>
          <rolling_friction value="0.0001"/>
          <inertia_scaling value="3.0"/>
        </contact>
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
           <mass value="0.2"/>
           <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
		<visual name="body-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</visual>
		<visual name="body-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_0"/>
		<parent link="base"/>
	</joint>
	<!--link name="link_1">
		<visual name="lid-6">
			<origin xyz="-0.003906339939189927 0 -0.004880000000000002"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.003906339939189927 0 -0.004880000000000002"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="prismatic">
		<origin xyz="0.003906339939189927 0 0.004880000000000002"/>
		<axis xyz="0 1 0"/>
		<child link="link_1"/>
		<parent link="link_0"/>
		<limit lower="-0.20399999999999996" upper="0"/>
	</joint-->
</robot>
