<?xml version="1.0" ?>
<robot name="partnet_2f4b18402dee61003f7c6295b60afd1b">
	<link name="base"/>
	<link name="link_0">
        <contact>
          <lateral_friction value="1"/>
          <rolling_friction value="0.0001"/>
          <inertia_scaling value="3.0"/>
        </contact>
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
           <mass value="0.2"/>
           <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
		<visual name="leg-1">
			<origin xyz="0 0 -0.4114376480132342"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="leg-1">
			<origin xyz="0 0 -0.4114376480132342"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 -0.4114376480132342"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 -0.4114376480132342"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0 0 0.4114376480132342"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="0.0" upper="0.5235987755982988"/>
	</joint>
	<link name="link_1">
        <contact>
          <lateral_friction value="1"/>
          <rolling_friction value="0.0001"/>
          <inertia_scaling value="3.0"/>
        </contact>
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
           <mass value="0.2"/>
           <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
